{% import 'macros.jinja' as macros %}
<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="./index.css" rel="stylesheet">
</head>
<body>
  <div class="container mx-auto">
    {%- macro weather_row(ts, row) %}
      <h2 class="text-2xl ml-14 mb-4 mt-20">{{ ts.strftime('%A, %d.%m.') }}</h2>
      <div class="flex text-center overflow-hidden">
        <div class="flex-none w-14">
          <div class="h-10"></div>
          <div class="h-10"></div>
          <div class="h-7">°C</div>
          <div class="h-7">bft</div>
          <div class="h-7"><i class="wi wi-strong-wind"></i></div>
          <div class="h-10"></div>
          <div class="h-7"><i class="wi wi-raindrop"></i></div>
        </div>
        <div class="flex overflow-x-auto">
    {%- endmacro %}
    {% for ts, row in weather %}
      {%- set hour = ts.strftime('%-H')|int -%}
      {%- set temp = (row.temperature_air_mean_005|default(NaN) - 273.15)|round|int -%}
      {# new row for every day #}
      {% if loop.index == 1 %}
        {{ weather_row(ts, row) }}
      {% endif %}
      {% if loop.index > 1 and hour == 0 %}
        </div>
      </div>
        {{ weather_row(ts, row) }}
      {% endif %}
        <div class="flex-none w-14 text-center">
          <div class="h-10">{{ ts.strftime('%H:%M') }}</div>
          <div class="h-10 text-3xl">{{ macros.weather_icon(row.weather_significant) }}</div>
          <div class="h-7 {{ macros.temp_color(temp) }}">{{ temp }}</div>
          <div class="h-7 {{ macros.wind_color(row.wind_speed) }}">{{ row.wind_speed|ms_to_bft }}</div>
          <div class="h-7 {{ macros.wind_color(row.wind_gust_max_last_1h) }}">{{ row.wind_gust_max_last_1h|ms_to_bft }}</div>
          <div class="h-10 text-3xl"><i class="wi wi-wind from-{{ row.wind_direction|round|int }}-deg"></i></div>
          <div class="h-7 {{ macros.rain_color(row.precipitation_height_significant_weather_last_1h) }}">{{ row.precipitation_height_significant_weather_last_1h }}</div> 
        </div>
    {% endfor %}
      </div>
  </div>
  <div class="mt-20">
  Source: Deutscher Wetterdienst, <a href="https://www.dwd.de/DE/leistungen/met_verfahren_mosmix/met_verfahren_mosmix.html">MOSMIX</a>
  </div>
  <script src="./index.js"></script>
</body>
</html>
