{# convert dwd weather number to weather-icon #}
{% macro weather_icon(num) -%}
{% if num == 0 %}
<i class="wi wi-day-sunny"></i>
{% elif num == 1 %}
<i class="wi wi-day-cloudy"></i>
{% elif num == 2 %}
<i class="wi wi-cloud"></i>
{% elif num == 3 %}
<i class="wi wi-cloudy"></i>
{% elif num == 45 %}
<i class="wi wi-fog"></i>
{% elif num == 49 %}
<i class="wi wi-fog"></i>
{% elif num == 61 %}
<i class="wi wi-day-rain-mix"></i>
{% elif num == 63 %}
<i class="wi wi-rain-mix"></i>
{% elif num == 65 %}
<i class="wi wi-hail"></i>
{% elif num == 51 %}
<i class="wi wi-day-rain-mix"></i>
{% elif num == 53 %}
<i class="wi wi-rain-mix"></i>
{% elif num == 55 %}
<i class="wi wi-hail"></i>
{% elif num == 68 %}
<i class="wi wi-sleet"></i>
{% elif num == 69 %}
<i class="wi wi-sleet"></i>
{% elif num == 71 %}
<i class="wi wi-day-snow"></i>
{% elif num == 73 %}
<i class="wi wi-day-snow"></i>
{% elif num == 75 %}
<i class="wi wi-day-snow"></i>
{% elif num == 80 %}
<i class="wi wi-day-showers"></i>
{% elif num == 81 %}
<i class="wi wi-day-showers"></i>
{% elif num == 82 %}
<i class="wi wi-day-shower"></i>
{% elif num == 83 %}
<i class="wi wi-day-snow"></i>
{% elif num == 84 %}
<i class="wi wi-day-snow"></i>
{% elif num == 85 %}
<i class="wi wi-day-sleet"></i>
{% elif num == 86 %}
<i class="wi wi-day-sleet"></i>
{% elif num == 66 %}
<i class="wi wi-snowflake-cold"></i>
{% elif num == 67 %}
<i class="wi wi-snowflake-cold"></i>
{% elif num == 56 %}
<i class="wi wi-snowflake-cold"></i>
{% elif num == 57 %}
<i class="wi wi-snowflake-cold"></i>
{% elif num == 95 %}
<i class="wi wi-thunderstorm"></i>
{% endif %}
{%- endmacro %}


{# map wind speed in m/s to tailwind color #}
{%- macro wind_color(ms) -%}
{%- set max = 25 -%}
{%- set steps = [
  'bg-sky-50',
  'bg-sky-100',
  'bg-sky-200',
  'bg-sky-300',
  'bg-sky-400',
  'bg-sky-500',
  'bg-cyan-500',
  'bg-teal-500',
  'bg-emerald-500',
  'bg-green-500',
  'bg-lime-500',
  'bg-yellow-500',
  'bg-amber-500',
  'bg-orange-500',
  'bg-red-500',
  'bg-rose-500',
  'bg-pink-500',
  'bg-fuchsia-500',
  'bg-purple-500',
  'bg-violet-500',
  'bg-indigo-500',
  'bg-blue-500',
  'bg-blue-600',
  'bg-blue-700',
  'bg-blue-800',
] -%}
{%- set step = (max / steps|count) -%}
{%- set index = (ms/step)|round(0, 'floor')|int -%}
{%- if index >= steps|count -%}
  {%- set index = (steps|count - 1) -%}
{%- endif -%}
{{ steps[index] }}
{%- endmacro -%}

{# map precipitation height to tailwind color #}
{%- macro rain_color(ms) -%}
{%- set max = 10 -%}
{%- set steps = [
  '',
  'bg-blue-50',
  'bg-blue-100',
  'bg-blue-200',
  'bg-blue-300',
  'bg-blue-400',
  'bg-blue-500',
  'bg-blue-600',
  'bg-blue-700',
  'bg-blue-800',
  'bg-blue-900',
] -%}
{%- set step = (max / steps|count) -%}
{%- set index = (ms/step)|round(0, 'floor')|int -%}
{%- if index >= steps|count -%}
  {%- set index = (steps|count - 1) -%}
{%- endif -%}
{{ steps[index] }}
{%- endmacro -%}

